<launch>
    <!-- Include world launch file -->
    <include file="$(find me5413_world)/launch/world.launch" />
    
    <!-- Include navigation launch file -->
    <include file="$(find me5413_world)/launch/manual.launch" />
    
    <!-- Include ocr launch file -->
    <include file="$(find ocr)/launch/ocr.launch" />

    <!-- Include box_detection launch file -->
    <include file="$(find box_detection)/launch/box_detection.launch" />

    <!-- Include frontier_explore launch file -->
    <include file="$(find frontier_explore)/launch/frontier_explore.launch" />

    <!-- Include navigation launch file -->
    <include file="$(find navigation)/launch/move_base.launch" />
</launch>