
<launch>
  <!-- pbstream的地址与名称 -->
  <arg name="load_state_filename" default="$(env HOME)/carto_ws/map/test-1.pbstream"/>

  <param name="/use_sim_time" value="true" />

<!-- 重定位用，接收/initialpose话题-->
  <param name="/localization" type="bool" value = "1"/>
  <param name="/set_inital_pose_x" type="double" value = "0"/>
  <param name="/set_inital_pose_y" type="double" value = "0"/>
  <param name="/set_inital_pose_z" type="double" value = "0.0"/>
  <param name="/set_inital_pose_ox" type="double" value = "0.0"/>
  <param name="/set_inital_pose_oy" type="double" value = "0.0"/>
  <param name="/set_inital_pose_oz" type="double" value = "0"/>
  <param name="/set_inital_pose_ow" type="double" value = "1"/>

  <!-- 启动cartographer -->
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename localization.lua
          -load_state_filename $(arg load_state_filename)"
      output="screen">
    <!-- <remap from="points2" to="rslidar_points" /> -->
    <remap from="scan" to="scan" />
    <remap from="odom" to="odom" />
    <remap from="imu" to="imu" />
  </node>

  <!-- 启动map_server -->
  
  <node name="map_server" pkg="map_server" type="map_server"
      args="$(env HOME)/carto_ws/map/test-1.yaml" /> 
  <!-- LX大佬修改过的-->
  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05
                                                    -pure_localization 1" />  
  <!-- 启动rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />

</launch>

