<launch>
  <!-- 地图服务 -->
  <arg name="map_file" default="$(find kk)/map/race.yaml" />
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />

  <!-- AMCL定位 -->
  <include file="$(find kk)/launch/amcl.launch" />

  <!-- move_base 导航 -->
  <include file="$(find kk)/launch/move_base.launch" />

  <!-- stereo_image_proc 双目视觉处理 -->
  <group ns="stereo">
    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen" />
  </group>

<!-- RViz for navigation -->
<node name="rviz_nav" pkg="rviz" type="rviz" args="-d $(find kk)/rviz/robot_slam.rviz" output="screen" />


</launch>

