<launch>

  <!-- 加载 TEB 的参数 -->
  <rosparam file="$(find navigation)/params/teb_local_planner_params.yaml" command="load" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <!-- costmap 配置 -->
    <rosparam file="$(find navigation)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find navigation)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find navigation)/params/odom_nav_params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation)/params/odom_nav_params/global_costmap_params.yaml" command="load" />

    <!-- 移除旧的 base_local_planner 配置（不再加载 TrajectoryPlannerROS 的参数） -->
    <!--<rosparam file="...base_local_planner_params.yaml" command="load" />-->

    <rosparam file="$(find navigation)/params/move_base_params.yaml" command="load" />

    <!-- 指定使用 TEB 作为局部规划器 -->
    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />

    <!-- tf 重映射 -->
    <remap from="odom" to="odometry/filtered" />
  </node>

  <!-- Launch Rviz with our settings -->
  <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find me5413_world)/rviz/navigation.rviz" output="log" respawn="true"/> -->

</launch>
